<form id="edit" action="/posts/<%=@post.id%>/edit" method="POST">
  <input type="text"     name="post[title]"   value="<%=@post.title  %>" >
  <br>
  <textarea cols="40" rows="5" name="post[content]" >
    <%=@post.content%>
  </textarea>
  <input type="submit" value="edit">
</form>