   <form action="/create" method="POST">
      <label><%= @user.email %></label>
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="change your password">
    </form>