<div class="container">
  <h1>Blahg</h1>
  <ul>
    <% Post.all.each do |post| %>
      <li> <%= post.title %> 
        <% post.tags.each do |tag| %>
          <%= tag.text %>
        <% end %>
      </li>
    <% end %>
  <ul>
</div>
