
  <h1>Blahg</h1>
  <ul>
    <% Post.all.each do |post| %>
      <li> <a href="/posts/<%=post.id%>"> <%= post.title %> </a> 
        <% post.tags.each do |tag| %>
          <%= tag.text %>
        <% end %>
      </li>
    <% end %>
  <ul>
  <a href="/posts/new">create new post</a>
