<form id="new" action="/posts" method="POST">
  <input type="text" name="post[title]" placeholder="title"  >
  <br>
  <textarea cols="40" rows="5" name="post[content]" >
    content goes here 
  </textarea>
  <br>
  <input type="submit" value="new post">
</form>