<form id="new" action="/posts/new" method="POST">
  <input type="text" name="title" placeholder="title"  >
  <br>
  <textarea cols="40" rows="5" name="content" >
    content goes here 
  </textarea>
  <br>
  <input type="submit" value="new post">
</form>