<h1 id='title'> <%= @post.title %></h1>
<p id='content'> <%= @post.content %>  </p>
<p id='tags'> 
  <% @post.tags.each do |tag| %> 
    <%= tag.text %> 
  <% end %>
</p> 
<a href="/post/edit"> edit </p> 